<section id="about">
	<div id="aboutWrapper">
		<div id="mePicture"></div>
		<div id="meText">
			<h1>Hi,</h1>
			<div id="meTextContent">
			<p>My name is Max Perzon, I study web development in Sweden at a school named <a href="#">YRGO</a>.</p>
			<p>On this blog i will write about stuff i learn, read, build, design and experience.</p>
			<p>Check out my <a href="#">portfolio</a> aswell.</p>
			<p>XOXO</p>
			</div>
		</div>
	</div>
</section>